[2017-07-26 01:46] casperooi opened #1 "Icdrama Error on 25/7/2017"
Hi boss,
I am currently facing ICDrama issue, with the error message: ICDrama error while opening any drama. It happened sicne 25/7, previously was working fine. My current version is 1.3.0, Any findings?

Thank you.

[2017-07-27 19:02] dumbo0001 commented on #1
Any success @aznhusband ? I also took a quick look at the changes. A bit hard to read the source of the page.

[2017-07-27 19:28] aznhusband commented on #1
I've released 1.4.0 in the last couple of hours.  Give it a try.

[2017-07-27 20:12] dumbo0001 commented on #1
Great work! I'm going to check your changes. I couldn't find an easy way to find the post data so couldn't help you.

[2017-07-30 00:09] #1 closed

[2017-08-31 16:28] jason-ong commented on #1
@aznhusband
Have some issue, cant open any video.

v1.4.0 icdrama

[2017-10-26 06:16] wilsonfan opened #4 "Error when trying to playback: object of type 'int' has no len()"
There appears to be a problem in videobug.py, which is causing a problem when trying to load videos in icdrama:
[code]

Please let me know if you need further details. Thanks!

[2017-10-28 19:09] aznhusband commented on #4
dumb0001 just came up with the fix.  I'll release the new version shortly

[2017-10-28 19:09] #4 closed

[2018-04-03 22:50] sounami opened #7 "Error when trying to play video"
This just started getting thrown sometime yesterday.

Here's what I'm seeing in the kodi.log:

[code]

[2018-04-04 02:48] aznhusband commented on #7
Try version 1.8.0

[2018-04-04 03:12] CLFNole commented on #7
You’re a lifesaver. Trying to explain how an addon gets updated to my wife and mother-in-law doesn’t go very far.

[2018-04-04 21:13] sounami commented on #7
Looks like it's working now!

Had to update via direct download though, updating via repo only shows 1.7.0

Thanks for the hard work you're putting into this!

[2018-04-04 21:13] #7 closed

[2018-04-06 05:53] djnvee opened #8 "Error when trying to play video"
Hello having issues trying to play video on kodi 16

This is the error on the log
InsecurePlatformWarning
22:40:54 T:1609689376   ERROR: URLResolver: SSLError Error - From: Videobug Link: http://videobug.se/v/fkn-OTl2HEK5sg6BQrqxMg: hostname 'href.li' doesn't match either of '*.wordpress.com', 'wordpress.com'
22:40:54 T:1609689376   ERROR: URLResolver: AttributeError Error - From: Icdrama Link: ht

[2018-04-07 05:48] cjchai opened #9 "Error on playing video for kodi 16.1 after update 1.8.1"

[2018-04-09 19:14] aznhusband commented on #9
Unfortunately, ICdrama's moved to https links, which kodi 16 doesn't support.  You'll have to update to kodi 17

[2018-04-09 19:14] #9 closed

[2018-04-09 19:15] aznhusband commented on #8
Unfortunately, ICdrama has moved to https links, which Kodi 16 doesn't support.  You'll have to update to kodi 17

[2018-04-09 19:15] #8 closed

[2018-04-16 01:09] rlam3 opened #10 "Unable to play with Jarvis Kodi"
This repo is failing with Jarvis Kodi. Any reason why this may happen?

Would you be able to take a look and see what workarounds there are?

I installed the latest 1.8.1 version.

[2018-06-05 13:15] aznhusband commented on #10
What do you mean by "this repo is failing"?

[2018-07-31 15:42] xlemonWong opened #12 "icdrama addon down"
icdrama addon down as on 2018-7-31 8:40am PST, please fix.

Thank you very much

[2018-07-31 17:12] aznhusband commented on #12
OK, I'll have a look over the next day or so.

[2018-07-31 23:11] zmingxie commented on #12
Confirmed, https://github.com/aznhusband/aznhusband.github.io/pull/13 fixed the issue. 🎉

[2018-07-31 23:28] xlemonWong commented on #12
1.8.3 fixed the issue.  Thank you very much for the quick response.

[2018-08-06 21:30] xlemonWong commented on #12
It is down again, please fix.
Thank you!

[2018-08-07 02:09] xlemonWong commented on #12
1.8.4 is working.  thank you.

[2018-08-08 15:51] #12 closed

[2018-08-08 15:51] #10 closed

[2018-08-09 06:01] dumbo0001 opened #17 "Video not playing but showing info screen"
The add-on is not working anymore. Icdrama has been changed to block viewing the drama's from our add-on. Instead of playing the video an information is shown which states it isn't supported by the add-on anymore.

[2018-08-09 06:02] dumbo0001 commented on #17
@aznhusband This time it is not something that is easy to fix for me. I will need some time to figure how the new mechanism is working. Any help is welcome (also from other smart ppl).

[2018-08-09 10:36] jkfoong commented on #17
Perhaps having a look on the site js can reveal the detecting mechanism of Icdrama?

[2018-08-09 13:16] aznhusband commented on #17
Yeah, I was at it for about 3 hours last night.  I'll keep at it today.  My goal this time around is to actually learn how to use the inspector in Firefox, as opposed to my usual idiocy of playing around with wget.  This will take some time.

[2018-08-09 15:47] fueltank34 commented on #17
Look like this is stopping it
<a class="vb_closebtt" onclick="$('#vb_adplayer').empty();$('#vb_adplayer').hide();vb_autostart=1;jwplayer().play();">Close ad &amp; Play</a>

I'll try find the js

[2018-08-09 15:48] fueltank34 commented on #17
`<a class="vb_closebtt" onclick="$('#vb_adplayer').empty();$('#vb_adplayer').hide();vb_autostart=1;jwplayer().play();">Close ad &amp; Play</a>`

[2018-08-09 16:39] aznhusband commented on #17
Well, we just need to find out what process the javascript goes through to ultimately deliver the link to the media.

[2018-08-09 16:47] fueltank34 commented on #17
Edited my message with what works for me.

[2018-08-09 17:35] boleanly commented on #17
I looked in to this for a long while last night. The problem is because the wrong VB_TOKEN is being obtained. The new VB_TOKEN and VB_ID are generated from a script right after the old script where the add-on retrieves the Ajax POST data. You can test this by checking the current VB_TOKEN variable in the console, and the VB_TOKEN from the old method, a script named **video_id**.vbjs.html where **v

[2018-08-09 18:28] aznhusband commented on #17
K thanks, I'll start poking.  I'm still at work, so my hacking time is... furtive... at the moment :)

[2018-08-09 18:36] dumbo0001 commented on #17
Let me try first. If there is no PR in like 2 hours you can try it. The previous post was already helpful for the decoding.

[2018-08-09 19:48] aznhusband commented on #17
Hmmmm, not for right now, but a consideration for going forward:

https://github.com/PiotrDabkowski/Js2Py

The dramanice plugin uses js2py to interpret javascript from the site... wonder if we could look at doing the same.

[2018-08-09 19:58] dumbo0001 commented on #17
@aznhusband didn't succeed in getting it to work.

Using an online python interpreter I can get a correct resulting string, but not in the encoding. I think it is related with some encoding stuff (unicode etc). Python is not my expertise so I'll leave it for you now.

You can find my changes in my branch: https://github.com/dumbo0001/aznhusband.github.io/tree/addon-fix.

Good luck with the fix! Ho

[2018-08-09 20:11] aznhusband commented on #17
Sweet, I'll pull from yours, and figure out the encoding.

[2018-08-09 20:52] aznhusband commented on #17
Got it.  Upload coming shortly.  Thanks to dumbo0001, boleanly.  Will add boleanly to credits.

[2018-08-09 20:53] aznhusband commented on #17
Also, will bump to 1.9.0

[2018-08-09 21:32] dumbo0001 commented on #17
Working now.. Let's see for how long it will last this time...

[2018-08-09 21:32] #17 closed

[2018-08-09 22:33] boleanly commented on #17
Thanks! Working for me too. My parents would be happy to test it further :D

[2018-08-16 14:13] aznhusband opened #20 "Use js2py to parse website info"
The resolver is fragile.  Investigate use of js2py.

[2018-08-23 05:21] jkfoong opened #21 "Went broken again"
Looks like icdrama updated their code again?

[2018-08-23 05:46] jkfoong commented on #21
Oops can open already

[2018-08-23 05:46] #21 closed

[2018-11-21 10:32] jkfoong opened #23 "Not working"
Cant play video since yesterday.

[2018-11-21 10:33] jkfoong commented on #23
18:33:06.946 T:18592  NOTICE: URLResolver: Initializing URLResolver version: 5.0.10
18:33:07.652 T:18592   ERROR: URLResolver: AttributeError Error - From: Icdrama Link: http://icdrama.to/vidembed._AjclK2Az5MvvvtlUAhaaQ.html: 'NoneType' object has no attribute 'startswith'
18:33:07.653 T:18592   ERROR: URLResolver: AttributeError Error - From: Icdrama Link: http://icdrama.to/watch-online-life-on-t

[2018-11-21 17:17] xlemonWong commented on #23
Same problem here

[2018-11-21 18:07] boleanly commented on #23
Made a quick fix here #24

[2018-11-21 19:13] boleanly commented on #20
Hey! I'll see if I can look into this more. Are you looking at this repo?

https://github.com/PiotrDabkowski/Js2Py

And what do you want to achieve with it? Like completely extract readable links? Just some details so that I know what to focus on. Thanks!

[2018-11-21 19:36] aznhusband commented on #23
I'll release and close this issue when I get home later tonight.  All these women around the world anxiously awaiting our favours, eh, boleanly?  ;)

[2018-11-22 03:01] aznhusband commented on #23
Released 1.9.4

[2018-11-22 03:01] #23 closed

[2018-11-22 05:04] xlemonWong commented on #23
thank you

[2019-01-08 00:10] leckylao opened #25 "Alternative address"
I remember in the early version was able to switch different domain. But not anymore now. Could you reenable this ASAP please? As the Reddit forum point out that in Australia the icdrama.se is blocked by ISP. But icdrama.to is available

[2019-01-08 04:40] leckylao commented on #25
@boleanly OK, will try that. And yes, it needs to have an option to switch between different domains in the plug in settings. Which I remember it used to have this option.

[2019-02-13 05:08] leckylao commented on #25
Hi @boleanly, @aznhusband ,

Just noticed On 13rd Nov, icdrama.to has already been added into domains. But V1.9.4 still not work as base_url still using icdrama.se for users in Australia.

- As @boleanly point out the icdrama.se is just redirect then could you change the base_url to use to and pump that version for a quick fix please?
- Can I ask about the differences between base_url and domains

[2019-04-26 14:26] iamcchoi opened #26 "Icdrama down."
App not working.

[2019-06-28 07:02] BlackKnightV opened #27 "icdrama down"
plugin.video.icdrama-1.9.4.zip no longer workable

[2019-06-28 13:49] PtahX commented on #27
If you switch the base_URl in ./lib/config.py from icdrama.se icdrama.to and it will still as a quick fix

[2019-07-02 14:38] dumbo0001 commented on #27
Seems to work fine without any change or update.

[2019-07-10 21:35] renethestudent commented on #27
It hasn't worked for me in a few weeks. Some of the errors in the log are:

SSL: CERTIFICATE VERIFY FAILED
ERROR: URLResolver: URLError, AttributeError and Error getdirectory

[2019-07-10 23:23] boleanly commented on #27
@renethestudent Was there a specific show/episode were you trying to watch?

Apparently some Australian ISPs are blocking icdrama.se

[2019-07-11 00:05] renethestudent commented on #27
Any of them, but I'm primarily looking at Korean Dramas. I'm located in the US. I tried with and without my VPN (both US based) and the links in the log are to icdrama.to .  The shows are no longer updating either.

Earlier I tried Mother of Mine and I also tried Blessing of the Sea. Both older and newer episodes.

[2019-07-11 00:46] boleanly commented on #27
@renethestudent It's working fine on my end. That's a weird error cause I think SSL certificates are only needed when connecting to Https sites, and Icdrama doesn't need/use a Https connection. Can you upload/paste the full log somewhere?

It might be a network redirection thing, or maybe a Kodi installation issue. You could try reinstalling that and the Icdrama addon.

[2019-07-11 21:34] renethestudent commented on #27
I uninstalled kodi, re-installed kodi, re-installed Icdrama and I'm still getting the same errors. I have no clue how to get this log to upload, but I'm pasting a section of the log of me trying to play a video, some of the links to the video are not complete as the logviewer cut it off:

WARNING” CAddonSettings[script.module.urlresolver]:failed to parse old setting definition for “DebridLinkResol

[2019-07-12 07:53] boleanly commented on #27
@renethestudent Your issue might be related to [this post](https://forum.kodi.tv/showthread.php?tid=282604) from the Kodi forums. The error just shows that Python failed to verify the SSL cert from the actual video source link. It's a Google server so this shouldn't really happen. Possible fix from within this addon is to intercept the Https link and turn it into a regular Http link, or maybe just

[2019-07-13 19:41] renethestudent commented on #27
I'm using Kodi Leia 18.3 and I updated the URLResolver to 5.0.38 , same errors. Not sure if I mentioned this but this is through my FireTV .

[2019-07-14 00:46] PtahX commented on #27
I just did a fresh wipe on a Win10 box with Kodi Leia 18.3 and used the //aznhusband.github.io/script.module.urlresolver/script.module.urlresolver-3.0.35.zip
and //aznhusband.github.io/plugin.video.icdrama/plugin.video.icdrama-1.9.4.zip to test it out
no issues -- possibly something to do with the fireTV?
I didn't test it with the 5.0.38 update

[2019-07-14 15:22] renethestudent commented on #27
Honestly not sure what it was, but I factory reset the firetv, installed Kodi 18.3, installed the icdrama repo and everything works perfectly fine again. Thank you all for your help!!!

[2019-07-18 04:48] awfma10 commented on #27
Hi, I have a similar issue .... I am running Kodi on QNAP.

I am running icdrama as an addon in Kodi 17.5 Krypton, but it has stopped working since a couple of weeks ago. I downloaded the log file and found the following logs that seem relevant to the problem: (Note: I cannot find a way to upload the entire log file otherwise I would have done so)

    12:38:08.571 T:140156686280448  NOTICE: URLRe

[2019-07-18 07:25] boleanly commented on #27
@awfma10 Connecting to Icdrama, probably through the .se domain, is throwing a HTTP 451 error, which seems to be an ISP block due to legal reasons. Does it show the same error if you connect to Icdrama through your browser? Try this. If you can connect to the other .to domain on your browser just fine, then you can fix the plugin by changing the base_url in config.py to the .to domain

[2019-07-18 08:05] awfma10 commented on #27
Hi boleanly, thanks for your reply.

Indeed the problem seems to be caused by the ISP blocking the site.  I did have OpenVPN configured but for some reason it was disconnected and I was not able to establish an OpenVPN connection again. Instead I had to choose a different protocol and finally connected via PPTP. This solved the 1st problem.

The 2nd problem was that my DNS setting in Kodi was set

[2019-09-08 03:44] dtam6025 opened #30 "Icdrama 1.9.4 stopped working today"

[2019-09-08 07:38] PtahX commented on #30
My wife is watching a show on it now with no issues, try swapping out your VPN sometimes they block the IP's.

[2019-10-04 18:14] tvbviewer commented on #25
Hi @boleanly and @aznhusband  - first, thank you for all you do.  Been trying to troubleshoot this myself and couldn't get the fix to work.  Seems like we started having the ISP issue with blocking icdrama.se but I can navigate to icdrama.to.  Is there anyway you can push out an update so the base_url is icdrama.to?  I am running this on a Firestick and cannot figure out how to update the file mys

[2019-10-04 18:17] tvbviewer commented on #27
Is there anyway to switch this file directly on the Firestick device?  If I look at the download files on my laptop I can see where it needs to be updated, but then I cannot get the updates back to the Firestick...  apologies for the noob question.  Thanks!

[2019-10-04 18:42] boleanly commented on #27
@tvbviewer I don't own a Fire stick, but on a typical Android device the Kodi installation's addons folder is in the Internal Storage or SD card directory at 'Android/data/org.xbmc.kodi/files/.kodi/addons'. The .kodi folder could be hidden.

Idk how you can access the directory on the Fire stick, but if you can connect it to your computer through USB, you should be able to access the Kodi addons f

[2019-10-04 19:25] tvbviewer commented on #27
@boleanly thanks for the advice.  I'll try the file explorer route to see if I can gain access to the file there.  Otherwise, I just saw the pull request and "liked" it. Hopefully we'll see an update soon. Thanks!

[2019-10-04 22:08] tvbviewer commented on #27
@boleanly - just to close the loop on this, I was able to make the change using ES Explorer app (seems like I already had it installed).  There was an option within the app to view the files through my laptop (it'll give you the ip / url to go to on your laptop).  Using that option, I navigated to the config.py and updated the base_url to icdrama.to and it fixed the issue.  Thanks for the advice a

[2019-10-05 02:00] kcho1126 commented on #27
@tvbviewer can you give me more insight on how you got it to work. I'm using a firetv currently

[2019-10-05 02:27] tvbviewer commented on #27
@kcho1126  - yes, here are the steps I took:
1) If you don't have the ES File Explorer app already, download that.  You can DL it at your Firestick home screen.  Just search for ES File Explorer and click to DL.
2) After the install, open ES File Explorer and on the right hand side of the screen you'll see the icon for "View on PC"
3) Click on "View on PC" and it will provide you with a URL (IP ad

[2019-10-05 02:34] CLFNole commented on #27
I tried this and it didn’t work. My base url has only ‘ ‘ around it should it have “ “ instead?

[2019-10-05 02:38] tvbviewer commented on #27
@CLFNole - just checked my file and the line says this:

base_url = 'http://icdrama.to'

[2019-10-05 02:43] kcho1126 commented on #27
@tvbviewer worked like a charm! thank you so much for the quick response, really appreciate it.

[2019-10-05 02:51] CLFNole commented on #27
@tvbviewer weird wonder why it’s not working for me?  Will check it and try again.

[2019-10-05 03:03] tvbviewer commented on #27
@kcho1126  glad it worked!
@CLFNole not sure why.  For me, when I try to go to icdrama.se on my laptop, it's a broken link so I know my ISP blocked it.  However, when I type icdrama.to on my laptop browser I have no issues.  See if you can get to icdrama.to from your laptop (ensuring you use the same network/wifi).  Goodluck!

[2019-10-05 03:11] CLFNole commented on #27
Never mind got it thanks!

[2019-10-05 12:07] leckylao commented on #25
@tvbviewer I found a better solution now using RSS Player, more stable and less blocking.

[2019-10-05 12:07] #25 closed

[2019-10-24 04:55] errcl65 opened #33 "Icdrama 1.9.6 Error"
My Kodi log is:
ERROR: GetDirectory - Error getting plugin://plugin.video.icdrama/

Was working find a week ago.   Tried uninstall and reinstall.  Same issue.

[2019-12-02 18:48] NichiAtkins opened #34 "Icdrama 1.9.6 Error"
I just installed Kodi 19 and then installed the Icdrama 1.9.6 addon. I got an error so I uninstalled then reinstalled Icdrama again and I keep getting the same error:
![15753122470642770676139671478166](https://user-images.githubusercontent.com/28831178/69985771-e212e700-1509-11ea-95ab-02c6b0263c4c.jpg)

HELP ME PLEEEEEEEEASE!!!!!!!!!!!!!! MY SON AND I LOVE WATCHING ASIAN SHOWS/MOVIES
Thanks

[2019-12-08 03:49] PtahX commented on #34
Sounds like a Beautiful Soup error  I'm not sure what platform your are and I don't have Kodi 19 running yet to test it out. if you have a pc try running "pip install beautifulsoup4" or "pip install soupsieve". I'm guessing its a dependency issue

[2019-12-09 20:20] NichiAtkins commented on #34
I'm using an Amazon firestick on my Samsung TV. Can I check for a
dependency on the firestick? Can I run the pip install on a firestick?

On Sat, Dec 7, 2019, 10:49 PM PtahX <notifications@github.com> wrote:

[2019-12-09 21:11] PtahX commented on #34
Use Downloader app free from the Amazon Store . Go to: http://mirrors.kodi.tv/addons/krypton/script.module.beautifulsoup/ then download the APK there and install.  That will hopefully solve the issue :)

[2019-12-21 08:09] PtahX opened #35 "resolveurl issues"
I just updated my local copy of icdrama & urlresolver for testing [script.module.resolveurl-5.0.37.zip](https://github.com/jsergio123/zips/blob/master/script.module.resolveurl/script.module.resolveurl-5.0.37.zip) I'm still getting a **"URLResolver Daily View Limit Reached"** error. The wife is telling me some of the shows are still working but she has been having issues for about three days now. I

[2019-12-22 00:57] acwong101 opened #36 "New TV episodes not working"
It seems that all new shows posted last 3 or 4 days are not working. It will go back to the menu, after you select 720P, 360P etc.
Can you take a look?
Thanks for all your good work.

[2019-12-22 01:55] PtahX commented on #35
Error Log

2019-12-21 17:51:57.679 T:2016   ERROR: URLResolver: ResolverError Error - From: Icdrama Link: http://www1.icdrama.to/vidembed.YYGOCD1SvT5eGK0sp49I_A.html?&caption=5qK-daCrhH_8-JvExTv2aoQCdAwVaahwR6BWqRN6lWh_YSBbgVys0nM_il8NCwwFB9FiNKdPXYntaFYKfV_5kA: Daily view limit reached
2019-12-21 17:51:57.681 T:2016   ERROR: URLResolver: AttributeError Error - From: Icdrama Link: http://www1.icdr

[2019-12-22 18:06] PtahX commented on #35
I have ours working again, I've uploaded to github but I'd like to test it out more before I make a pull request.

[2019-12-26 00:06] PtahX commented on #35
I'm still trying to figure this one out, I suspect it's from the resolveurl googlevideo.py   _parse_redirect function. [https://github.com/tvaddonsco/script.module.urlresolver/blob/master/lib/urlresolver/plugins/googlevideo.py](url) It appears we are getting either a 403 Forbidden or a 429 (Too Many Requests (RFC 6585) - The user has sent too many requests in a given amount of time. Intended for u

[2020-01-11 17:28] sammydc77 opened #37 "Subtitle [English] does not match the Korean Drama "Touch.""
I came across this one last week, at that time there were no subtitles [English].  I thought to wait until it was added.  Thank You.  Unfortunately S01E01, may be the right the correct Sub, but runs about 10 minutes early, or may even be the wrong Sub.  Please review.

I really appreciate the Korean Dramas, though I find the only way to keep track of which I have watched is to search another Kodi

[2020-01-14 09:13] dinisiregar commented on #27
Hi, ICdrama has not been working for me for the last several months, nothing happens when I click on anything (Korean drama, Chinese drama, etc.) The base_url is already 'http://icdrama.to'. I have uninstalled and reinstalled Kodi Leia, also uninstalled and reinstalled the ICdrama addon, but to no avail. Please help! Btw, I have zero knowledge on programming. I hope someone can help me.

[2020-01-14 16:44] PtahX commented on #35
The next release of URLResolver seems to have corrected this issue :)

[2020-01-14 16:45] #35 closed

[2020-01-14 17:36] PtahX commented on #27
"Hi, ICdrama has not been working for me for the last several months, nothing happens when I click on anything (Korean drama, Chinese drama, etc.) The base_url is already 'http://icdrama.to'. I have uninstalled and reinstalled Kodi Leia, also uninstalled and reinstalled the ICdrama addon, but to no avail. Please help! Btw, I have zero knowledge on programming. I hope someone can help me."

Everyth

[2020-01-15 14:31] dinisiregar commented on #27
Hi, thanks for your trouble. I did all the steps, and when I launch kodi, it says that the beautifulsoup4 script is not compatible, and I still can't use ICdrama. What should I do next?

[2020-01-16 03:18] PtahX commented on #27
@dinisiregar
I’m not sure what platform you are running Kodi on but if you can get a log file of what isn’t working and post it that would be very helpful.

I just had a look at my Kodi box. I am running beautifulsoup 4.6.3 and I just checked out 4.3.2 which still seems to be working. I'd assume either of those should be fine if the 4.7+ isn't working. I believe the packed version in ICDrama was 4

[2020-01-16 09:17] BlackKnightV commented on #27
Hi,

I noticed icdrama is not updated with frequent new movies and Chinese
dramas. It's full of old movies and dramas though. Any advise? Thanks.

Regards,
Edward

[2020-01-18 01:56] dinisiregar commented on #27
Ok before I'm going to do the last step, out of all the dependencies you listed on a working copy, I'm missing plugin.video.gdrive 0.0.0. Could that be the problem? Where do I get that? And I'm sorry this image must look like shite, but the kodi is on my tv so I don't know how else I'm going to get the error log file unless I took a picture of it using my phone.

![WhatsApp Image 2020-01-18 at 08

[2020-01-18 03:02] PtahX commented on #27
It's still posible that you have more than one issue there but your problem seems to be with BS4 (Beautiful Soup 4)  Try adding the following Source [https://i-a-c.github.io/] update beautful soup 4 see if that sorts you out  (That's the Exodus-redux repo) here is a tutorial if you need it [https://mykodiaddons.com/exodus-redux/](url)

[2020-01-20 01:16] dinisiregar commented on #27
It's still not working. I've come to the point where I feel my problem annoys people haha

[2020-03-10 11:48] yewhoongng commented on #27
Had a similar issue resolved after changing my DNS setting. need to configure yr IP address to use a primary DNS of 1.1.1.1 instead of automatically provided by your ISP. Lots of ISP in Australia uses DNS blocking which means your device cant open icdrama.to if youre using their DNS.

[2020-03-28 18:05] PtahX opened #38 "Conversion to Python 3?"
I wiped one of my Kodi boxes (18.6) today and went to add IcDrama and I'm getting the following error. I assume it's related to the push towards Python 3 - anyone working on an IcDrama conversion to Py 3 yet for the next Kodi 19 versions?

"ERROR: CAddonInstallJob[plugin.video.icdrama]: The dependency on xbmc.python version 3.0.0 could not be satisfied."

[https://forum.kodi.tv/showthread.php?tid=

[2020-03-28 18:14] boleanly commented on #38
I think it's detecting the xbmc.python version entry in addon.xml. First thing to do is change that to 3.0.0 . Not sure if there's gonna be code issues though

[2020-03-29 01:34] PtahX commented on #38
I'm attempting to see if I can get it going on a testing branch so far I've updated
xbmc.python to 3.0.0 and have been attempting a few other things. It appears it will be more involved as I'm still seeing the same error. I have a draft pull request there but I'm not sure it's worth uploading at this point.

Standard disclaimer - I'm a rookie just learning & trying ot help where I can ;)

[2020-03-29 01:52] boleanly commented on #38
@PtahX Looking into it more, I think it's cause one of the dependencies (required addons) wants to use Python 3 but the Kodi 18.6 build only has Python 2. Are you using Kodi 18.6? You'll want to revert the addon.xml change, sorry about that. Not sure which dependency is the culprit though. It's probably the ones being downloaded from the official repo.

https://kodi.wiki/view/Addon.xml#Dependency_

[2020-03-29 02:55] PtahX commented on #38
@boleanly I’m still running 18.6 on the new Nvidia Shield, that would definitely make sense. I’ll see if I can figure out which it is, I'll post what I find for reference either way. :beer:

[2020-03-29 03:26] PtahX commented on #38
That was it, the culprit was  `<import addon="script.module.beautifulsoup4"`.  Something to do with my cache file I expect.

**To fix on the Shield:**
Go into NVidia Shield Settings / Apps / Kodi and click Clear Cache.

**to fix in Windows 10:**
type %appdata% in search
find your Kodi directory
\AppData\Roaming\Kodi\
delete the "cache" file
then reinstall IcDrama

[2020-03-29 03:26] #38 closed

[2020-03-29 03:29] boleanly commented on #38
Nice, good job! Thanks for the info :+1:

[2020-04-25 15:55] Optimus2202 opened #40 "Icdrama 1.9.6 but drama not updated"
I am a non-technical person, please help.

I have icdrama ver 1.9.6 running on kodi leia (on firestick). The updates on the dramas/movies has stopped even though I am on ver 1.9.6.  I cannot watch new dramas or movies.  For example, I was watching the Chinese drama "Love By Hypnotic" and it is only up to Episode 24 (total episodes are 36).
I have tried deleting and reinstalling icdrama. Still the

[2020-04-25 16:48] PtahX commented on #40
I took a look, that isn't an issue with the icdrama Kodi addon itself - the source feed that Icdrama is reading is only showing up to episode 24 at this point. They often lag behind on the shows then add several all at once when they get access to them. Aznhusbands Icdrama Kodi app doesn’t actually host any content at all - it’s simply reading external feeds to transfer the shows into Kodi without

[2020-04-26 01:52] Optimus2202 commented on #40
Thank you PtahX. I only used that drama as an example but if you think it's Kodi reading the external feeds, it has not been doing that for over a year already because I think this position has been like this for over a year.  So, it's a Kodi issue then? And that's nothing I can do? Sigh.....
Yes, I have the kissasian app on my tablet (thank you for letting me know), and it's updated. Just that I

[2020-05-14 00:14] gumpwa opened #41 "picasaweb seems to no longer be working"
on the website the #2 360/720 seem to be working but not the original and not through kodi

[2020-05-14 01:23] tofufi opened #42 "Problem with http://aznhusband.github.io/repo"
i install http://aznhusband.github.io/repo with kodi for 2 yrs But. It is not functioning since yesterday night. Is anyone have same issue?

http://aznhusband.github.io/repo

thanks!

[2020-05-14 12:46] aznhusband commented on #41
Yes, I'll have to have a look over the weekend.

[2020-05-14 12:47] aznhusband commented on #42
Yes, something's changed, I'll have to have a look over the weekend.

[2020-05-14 13:08] tofufi commented on #42
Great thanks
Take your time.

[2020-05-14 16:20] xalagaco commented on #41
Picasaweb links are the only ones that ever work for me. I don't know if it's geolocation thing.
I've observed that whenever 1080p is in the list, none of the links play.
Since a couple of days ago, listings with 720p stopped working, mostly but not all.
Occasional shows that I have come across which list 360p only does seem to stream.

[2020-05-14 16:39] jcheong-1 commented on #42
It appears to me that for people who are on the new urlresolver version 5+ the addon still works.

I've updated urlresolver to 5.0.48 and icdrama addon works.

But since TVAddons took over for urlresolver they now force install Indigo as a dependency whenever you install urlresolver

Would it be possible to update icdrama to use ResolveURL instead of URLResolver?

Thanks!

[2020-05-14 17:52] aznhusband commented on #42
Seems like a good option, I'll work towards that.

[2020-05-14 18:05] jcheong-1 commented on #42
thanks aznhusband that will be fantastic!

[2020-05-14 18:25] aznhusband commented on #37
I just scrape the data, if it's wrong on the site, not much I can do.

[2020-05-14 18:25] #37 closed

[2020-05-14 18:25] #30 closed

[2020-05-14 18:26] #26 closed

[2020-05-14 18:26] aznhusband commented on #33
Web site had problems.

[2020-05-14 18:26] #33 closed

[2020-05-14 18:26] #36 closed

[2020-05-14 18:27] aznhusband commented on #41
This weekend I'll look at moving us to ResolveURL, instead of URLResolver.  Hopefully that will fix the issue.

[2020-05-14 18:28] #34 closed

[2020-05-14 19:12] sammydc77 commented on #37
It had been fixed, some months ago, but thanx for looking at it.  It would
be nice to be able to mark as "Watched."

Joseph

On Thu, May 14, 2020 at 2:25 PM aznhusband <notifications@github.com> wrote:

[2020-05-14 23:01] gumpwa commented on #42
Wouldn't the easiest fix be to just update to use urlresolver  5.0.48?

[2020-05-14 23:34] jcheong-1 commented on #42
Yes and no, yes for short term fix which all users can do themselves. No because URLResolver has now changed hands.

URLResolver starting from version 5.0.50 after TVAddons took over force install Indigo (their own app) as a dependency without users acknowledgement. Most people consider that as spyware/malware and don't like it.

URLResolver copies the changes from ResolveURL anyways, might as wel

[2020-05-16 05:32] aznhusband commented on #42
OK, moved to ResolveURL.  Fixed in 2.0.1, Once I get some reports of people using the new version successfully, I'll close this bug.

[2020-05-16 05:33] aznhusband commented on #41
Moved to ResolveURL, fixed (hopefully) in 2.0.1

[2020-05-16 07:09] gti96 commented on #42
I just tried 2.0.1 and it's still showing URLResolver as dependencies and ResolveURL is not there.

[2020-05-16 07:10] paullew commented on #42
Thanks for the update!

I'm having trouble installing the update to 2.0.1 - I think my kodi doesn't know where to install resolveurl from. Here's a screenshot:

![image](https://user-images.githubusercontent.com/147187/82113235-d7869a00-9797-11ea-9fc0-0efacec21d8f.png)

Do I need to install resolveurl manually, or do I need to install another repo?

[2020-05-16 13:13] aznhusband commented on #42
Yeah, I mention that on the https://aznhusband.github.io site; you need to re-install the repo so that it'll point to where to pick up ResolveURL.  I'm basically providing a pointer to the jsergio repo in my repo, so you'll automatically pull in the latest release of ResolveURL.

Glad it's working for you.

[2020-05-16 13:15] aznhusband commented on #42
You need to re-install the repo; download the repo-1.1.1, so it can find the ResolveURL reference.

 

See https://aznhusband.github.io

 
 

Sent: Saturday, May 16, 2020 at 2:09 AM
From: "Michael Wong" <notifications@github.com>
To: "aznhusband/aznhusband.github.io" <aznhusband.github.io@noreply.github.com>
Cc: "aznhusband" <aznhusband@mail.com>, "Comment" <comment@noreply.github.com>
Subject: Re

[2020-05-16 14:22] decantur commented on #42
We run three instances - uninstalling and reinstalling the repo updates to 2.0.1 and fixes the issue. Also, the ResolveURL dependency is now present.

Thanks so much.

[2020-05-16 16:07] jcheong-1 commented on #42
Thank you so much!

I've done the following to update and this seems to work well.

1. Remove the old icdrama completely
2. Uninstall the old repo
3. Install the new repo
4. Install the new icdrama addon

Working welll, thanks again!

[2020-05-16 17:07] tofufi commented on #42
Works again.
my kodi 15.2 in Canada

Thanks!!!!!

[2020-05-16 18:26] gumpwa commented on #41
New release works great!  Thanks for the quick turnaround!

[2020-05-16 18:26] #41 closed

[2020-05-16 23:08] aznhusband commented on #42
K, lots of people reporting the new version works fine, so gonna close this bug.

[2020-05-16 23:08] #42 closed

[2020-05-17 05:06] gti96 commented on #42
Thanks. Previously when I tried the repo was still showing only having 1.9.6 and thus I tried from plugin.video.Icdrama to make it 2.0.1. Now it is fully working. Thanks a lot!

[2020-05-20 02:57] sergiobaiao commented on #38
Can you tell how you updated xbmc.python to 3.0.0?

[2020-05-20 03:54] PtahX commented on #38
To do it properly someone would need to convert all the old Python 2 code (basically the whole module) into Python 3 code. It’s a fairly involved process, you can read up on it on the kodi forums [https://forum.kodi.tv/forumdisplay.php?fid=281](url)

[2020-05-21 15:51] aznhusband commented on #40
I'll close this bug, since it's not really an Icdrama bug.

[2020-05-21 15:51] #40 closed

[2020-05-27 15:34] jcheong-1 opened #43 "icdrama website changes breaks parsing"
Hi Aznhusband,

Looks like changes to the icdrama site is breaking the functionality of this again. Would you kindly have a look whenever you have some time?

Thanks!

[2020-05-27 16:05] tofufi commented on #43
same problem here

[2020-05-27 23:04] 9kitsune commented on #43
Same here

[2020-05-28 07:36] mugol commented on #43
It looks like something broke at mirror scrapping step. I think I found another way to grab the mirror links. The site is pretty wack with obscuring the video player itself though. I can look into this more over the weekend.

[2020-05-28 13:40] aznhusband commented on #43
Yeah, Reddit's blowing up with this.  I'll start poking around with it, mugol, if you come up with anything, post in this bug, we'll use this bug to track progress.

[2020-05-29 05:25] dfungfung commented on #43
So glad that I found this thread. Created an account to say that yes I have the same problem. Wish this would be fixed soon so I can keep my wife happy ;)

[2020-05-29 14:35] aznhusband commented on #43
Wishing won't get it fixed, dfungfung.  We'll have to find the time to dig into the code, look at the updates to the website,and adjust all the scrapers.

[2020-05-29 17:56] GhostlVlan commented on #43
Just wanted to say Thank You aznhusband and all the other developers working on maintaining this!  Super appreciative!

[2020-05-29 19:56] dfungfung commented on #43
Thank you For doing this! You’re amazing!

[2020-05-29 23:19] du2uxh opened #44 "icdrama error"
I am having error on this kodi plugin icdrama even using a url resolver.  It looks like the url had changed from icdrama to adrama.  What is needed to change it from icdrama to adrama manually?  Not so good on Linux but can manage to go around directories and editing files.  Please help.

[2020-05-30 00:16] alawnyc commented on #44
Same issue here please help

[2020-05-30 03:43] lluxia commented on #44
Hello,
I've also been having the same issue the last two days.

[2020-05-30 05:58] mugol commented on #43
**Update:** I was able to get the mirror links again.

![mirrors2](https://user-images.githubusercontent.com/8999796/83320534-687c5d00-a1fd-11ea-9b15-bdb43894cef6.PNG)

I'm gonna to try to integrate the changes to the repo now. It looks like I just need to rewrite scrapers.mirrors and add an helper function to common.py to make a post request. Here's an example of what scrapers.mirrors will probab

[2020-05-30 11:28] brianmus commented on #44
yes. got the same issue 2 days ago

[2020-05-30 14:06] aznhusband commented on #43
Great!  Gets us closer

[2020-05-30 14:07] aznhusband commented on #44
Do you people even LOOK at the other bugs?!  We've already got one open on this.

Closing.  Do a little reading, people.

[2020-05-30 14:07] #44 closed

[2020-05-31 21:33] Achilleus1 opened #45 "ICDrama error, view log"
ICDrama have not been working for the past few days. Tried everything, reinstalling, full wipe FireStick , still have the same error.

“2020-05-31 12:54:01.069 T:16512 ERROR: CGUIMediaWindow::GetDirectory(plugin://plugin.video.icdrama/?action=Dversions&url=http%3 failed 2020-05-31 12:54:01.055 T:27822 ERROR: GetDirectory - Error getting plugin://plugin.video.icdrama/?action=versions&url=http%3a%2f

[2020-05-31 23:02] jcheong-1 commented on #45
Duplicate of #43

[2020-05-31 23:16] LQQK324 commented on #45
The website probably changed,  waiting for an update for aznhusband. Give him time he already knows

[2020-06-01 00:43] thebetauser commented on #43
@mugol is there a way to setup these python scripts to run in a pure python dev environment? If so, can you link me to any guides and I can help with this.

[2020-06-01 02:28] mugol commented on #43
@thebetauser I think you _can_ technically run these scripts outside of Kodi if you want. However, your Python environment will probably throw a fit because the xbmc (or Kodi) library is not included. (I guess you can try using the Python environment in Kodi's files? I feel like that's not going to work as I imagine it would.)

Sorry I'm not much help in that regard. If it helps, here's the way I'

[2020-06-02 13:49] aznhusband commented on #43
Made a bit of progress last night, still a long way to go.  Would be nice to have some kind of a test-jig setup so I could do the whole thing from the command line.

[2020-06-02 17:38] jcheong-1 commented on #43
Greatly appreciate everyone's efforts!

[2020-06-03 08:06] chimin commented on #43
I have tried to run the resolveurl from standalone python, but since the website is broken now I can't sure I'm doing it correctly. Maybe you can see if this help? https://github.com/chimin/aznhusband.github.io

[2020-06-05 21:34] dumbo0001 commented on #43
@mugol @aznhusband This commit https://github.com/dumbo0001/aznhusband.github.io/commit/c4ffa3e207b89b6760a8e4089a819bc9102a5bfc seems to fix the 1st picasaweb/google video source. No resolving is needed for the scraped video URL. Hope this helps..

[2020-06-06 19:33] thebetauser commented on #43
I can confirm that @dumbo0001 codesnippet was able to play the googlevideo mirrors

[2020-06-07 17:22] aznhusband commented on #43
OK, we've made some breakthoughs, another user also send me a snippet that was more elegant than what I was working on.  I'll incorporate these changes, push a new version tonight.

[2020-06-07 17:26] tofufi commented on #43
eager to see.......! TKS all effort 
    On Sunday, June 7, 2020, 01:22:15 p.m. EDT, aznhusband <notifications@github.com> wrote:

OK, we've made some breakthoughs, another user also send me a snippet that was more elegant than what I was working on. I'll incorporate these changes, push a new version tonight.

—
You are receiving this because you commented.
Reply to this email directly, view it on

[2020-06-07 19:42] LQQK324 commented on #43
I hope everything works out I missed my drama

[2020-06-08 01:27] aznhusband commented on #43
OK, just pushed ICDrama 2.1.0.  Thanks to mugol, dumbo0001, and s_h (anonymous contributor) for the help.  Web scraping ain't my thing, and I was suffering.

I'll leave this open for a couple of days, just in case we encounter new bugs.

[2020-06-08 01:37] aznhusband commented on #45
Closing, #43 is the bug to watch, fixed (hopefully) in 2.1.0

[2020-06-08 01:37] #45 closed

[2020-06-08 01:42] jcheong-1 commented on #43
OMG thanks aznhusband, mugol, dumbo0001, and s_h (anonymous contributor) for all of your hard work on maintaining this, really really appreciate everyone's efforts!

[2020-06-08 04:57] antheroo commented on #43
Hi @aznhusband , not sure if it's due to the resolveurl script version I am using, but the unwrapped_url that my video resolved to was using 'googleusercontent.com'. Thus I had to add that check to get the plugin to work.

In file plugin.video.icdrama/lib/resolvers/icdrama.py, in get_media_url add check for '**googleusercontent.com**'

[code]

[2020-06-08 13:07] Ero-Sennin-Jiraiya commented on #43
Thank you to all the Contributors! Now we can all sit back and relax while the wife binwatch
ICDrama 2.1.0   Thx again, a round of beer for all!

[2020-06-08 13:34] LQQK324 commented on #43
Finally I can watch my dramas. Thank you to all of you. Next round of beer
is on me oo

On Mon, Jun 8, 2020, 9:07 AM Ero-Sennin-Jiraiya <notifications@github.com>
wrote:

[2020-06-08 21:28] LQQK324 commented on #43
So far everything seems fine, not sure about others. But sometimes I get
the url limit exceeded or some of the video gets an error then hour later
it works.

On Mon, Jun 8, 2020, 9:34 AM saf <safwan.zokari@gmail.com> wrote:

[2020-06-09 14:04] klingon888 commented on #43
Unfortunately, for me, some shows are working but some are not. I've tried uninstalling and re-install, same prob. Below is the kodi log:

2020-06-09 10:01:35.184 T:11106  NOTICE: ResolveURL: Initializing ResolveURL version: 5.0.38
2020-06-09 10:01:47.376 T:11172  NOTICE: Previous line repeats 2 times.
2020-06-09 10:01:47.376 T:11172 WARNING: addons must not activate DialogBusy
2020-06-09 10:01:51

[2020-06-10 01:31] Starz2play commented on #43
so far so good but I'm getting only 360P on piscaweb and the other available links (HLS, Hydrax and Uptobox) never work for me.  Is there a reason why?

[2020-06-10 01:56] jcheong-1 commented on #43
The addon just pulls the data from the website, the website only has 360p source and hence why you're only getting the 360p.

Before reporting an issue, always best to check the site directly first to see first of all if the video is working, then check which sources are available.

[2020-06-10 02:08] LQQK324 commented on #43
Everything works fine for me. The only time it doesn't work is if the
website is not working properly. If you only get 360p and not 720p it's not
on the site yet.

On Tue, Jun 9, 2020, 9:56 PM jcheong-1 <notifications@github.com> wrote:

[2020-06-10 04:58] antheroo commented on #43
@Starz2play check the kodi logs and see. For my case the logs were showing CA Certificate errors. After updating the certificates then it works. Really depends on your device. Better to check the kodi.log

Sample error:
`2020-06-08 10:49:40.897 T:4066025472   ERROR: CCurlFile::Stat - Failed: Peer certificate cannot be authenticated with given CA certificates(60) for https://www46.uptostream.com`

[2020-06-10 05:25] nilee8 commented on #43
Hi there, Picasa links are all giving unresolvable address errors - 3 different devices all the same error:

2020-06-09 23:22:53.011 T:2328 WARNING: ResolveURL: Stream UrlOpen Failed: Url: https://lh3.googleusercontent.com/-yVfUqCO0Nx8/Xt-nxvAZpaI/AAAAAAAAAaM/pWQI4WFWJJYyYCMaGUfcrt-d2utekCFWACLcBGAsYHQ/m15/ez5c5xhc2ts2zznb2odik62abeiv2xb7brtjf45enhty5zxjzqeurp4m.source.mp4?access_token=ya29.c.KpAB

[2020-06-10 09:02] f33dm3 commented on #43
Shit, i just got my wife back for 2 weeks.

~Thanks~

[2020-06-28 10:41] chuachunmin commented on #43
Fresh install of kodi & icdrama works on MacOS.

I tried changing config.py on my Nvidia Shield from http://www.icdrama.to to adrama.to. Can access menu but can't access the video links(picasa etc). I tried changing current_ua in resolveURL settings.xml. Doesn't work.

[2020-07-08 14:56] zmingxie commented on #43
This is likely blocked by your ISP. Try to use Google DNS or Cloudflare and see if that helps.

[2020-07-17 14:57] BlackKnightV commented on #27
No longer using this. So annoying on the problems and it's shows are not
updated at all.

On Tue, Mar 10, 2020 at 7:48 PM yewhoongng <notifications@github.com> wrote:

[2020-07-18 12:50] chuachunmin commented on #43
Thank you. That’s the solution.

[2020-08-02 08:24] ameizeing opened #46 "Icdrama not working after update to Kodi 18.8"
Get "Check log file" error message when I click on any menu items in icdrama. This is after I updated to Kodi 18.8 2 days ago.

Logfile: https://paste.kodi.tv/ewehifomaf

[2020-08-02 13:59] #46 closed

[2020-08-07 02:38] Jerry-Dragon opened #47 "IcDrama Error and URL Resolver Error: You reached your daily limit"
Been receiving Intermittent "ICDrama Error" and then followed by "URL Resolver: You reached your daily limit"

Wanted to give you guys a heads up on the problems.

Thanks for all your hard work!

[2020-08-21 16:51] xalagaco opened #48 "Hydrax links"
Hydrax links fail in the addon with 'Check the log for more information'.
They do work on the website but you need to hit the play button.
Perhaps the addon is not handling that part.
However HLS with a play button does seem to work.

[2020-10-09 22:11] dumbo0001 commented on #47
When I got the error I couldn't play the video on the website as well.
So I don't think we can do anything about this error.

[2020-10-09 23:34] du2uxh commented on #47
Not sure if this is related but I always get URL Resolver Error, KODI Error, Check the log for more information.  Last night I was watching the Brilliant Heritage E120 and was completed watching.  Then I moved to E121 and there I got the error message.  Same with other dramas, like Men on a Veil, Wonderful Life, I got this error always.  I did clear my cache but no help.  Thanks for any help.

[2020-10-18 22:53] qauff opened #49 "Can't Install from Repository"
I am getting a "Could not connect to repository." error when I try to Install from Repository.

Looking at the [addons.xml](https://github.com/aznhusband/aznhusband.github.io/blob/master/addons.xml#L4), looks like there's an XML parsing issue. You can't have two XML delcarations in the file.

[code]

I'm assuming [this](https://github.com/aznhusband/aznhusband.github.io/blob/master/addons.xml#L4)

[2020-11-02 06:10] yongfmgithub opened #50 "Error trying to start Icdrama in Kodi 18.9"
Please find attach kodi log file for your investigation. Thanks
[Kodi log.txt](https://github.com/aznhusband/aznhusband.github.io/files/5473086/Kodi.log.txt)

[2020-11-09 00:14] poition commented on #50
Does someone know how to fix this problems? The icdrama won't running as soon as I clicked the the file.

[2020-11-09 04:42] xalagaco commented on #47
Whenever 1080p is listed, none of the Picasaweb links work in the add-on, but 360p & 720p do work on the website.
Picasaweb #2 links never work in the add-on, but they do work on the website.
These observations are consistent and repeatable, just find a show listing 1080p.

[2020-11-09 05:14] xalagaco commented on #49
This add-on installs fine for most and hasn't changed in months.
This is a trouble ticketing system for reporting software issues.
You should ask in the Reddit forum for installation help.

My suggestion is to "Uninstall the Repo", confirm the source in File manager,
"Install from zip file", and "Install from repository". Otherwise, try Reddit.

Please close this ticket. Thank you.

[2020-11-09 05:19] qauff commented on #49
@xalagaco the add-on updates if you've already got it installed. Just telling you from the perspective of a brand new user 😄

https://github.com/aznhusband/aznhusband.github.io/blame/8b4cbc3bce6048c86a8ae523523b0fe3f56ef4a9/addons.xml#L4

You can see in this git blame that an extra xml declaration was added, and it's causing XML parsing issues.

I wasn't aware there is a subreddit for the addon, c

[2020-11-09 05:22] qauff commented on #49
Found the release thread on Reddit: https://www.reddit.com/r/Addons4Kodi/comments/gypbcu/icdrama_210_released/

It looks like I'm not the only person having this issue. Removing the extra XML declaration should fix this.

[2020-11-09 05:23] xalagaco commented on #50
This is where you report software issues. Go ask Reddit.

You're getting 404 errors, possibly your home folder got cleaned out. Try reinstalling from scratch.

Please close this ticket. Thank you.

[2020-11-09 06:58] xalagaco commented on #49
Of course that's the point of a repo, except 2.1.0  required a repo reinstall due to dependency changes.

It works fine for me on Windows 10 and firestick the way it is.

I see you found one.

[2020-11-09 20:54] #49 closed

[2020-11-11 17:07] tofufi opened #51 "My kodi not function 2 days is anyone have same issue?"
All Kodi box is not working. Are you have the same problem? Can anyone confirm & fix?

Thanks!!!!

[2020-11-11 18:22] jcheong-1 commented on #43
Looks like since a couple days ago the site has made some changes and it broke the current version from working.

reddit user kablamosayswhat posted a fix for
Edit config.py Edit (line 6): domains = ['adrama.to', 'icdrama.to', 'icdrama.se'] to domains = ['adrama.to', 'icdrama.to', 'icdrama.se', 'hkdrama.to']

I've tested it and it worked for me on my box.

@aznhusband sorry I'm not a coder, would

[2020-11-12 00:27] kevin23fong opened #52 "Ic drama not working"
Anyone facing the same problem?
Can the developer help to take a look at this?

[2020-11-12 16:50] Ero-Sennin-Jiraiya commented on #43
Saw the 2.2.0 update from https://aznhusband.github.io/plugin.video.icdrama/
confirmed (Line 6) updated and is working, thx all!

[2020-11-21 17:33] PtahX opened #53 "Kodi Matrix Update Issues"
I just took the matrix beta update on Kodi, many apps are no longer functioning including ICDrama, I'd suggest holding off on the update for now.

[2020-11-21 18:52] boleanly commented on #53
Matrix uses Python 3 only and needs Python 3 compatible code. I'm not sure if Icdrama or all its prerequisites are Python 3 compatible

[2020-11-22 02:55] PtahX commented on #53
I've no idea if anyone plans to try and tackle this one or not, but I spent some time converting the files using python 2to3 directly and uploaded them. I plan to play around but I doubt I'll be able to get it working with my very crap programming skill set lol  [(https://github.com/PtahX/icrama3conversions)]

[2020-11-22 06:11] boleanly commented on #53
I actually got a fork of this plugin to work in the Kodi 18 Python 3 dev build using the 2to3 tool. But that fork is a bit modified compared to vanilla so I'm planning to just do the conversion again from the current commit in master.

From my testing, the 2to3 converts it pretty well. The only errors that need to be fixed are from strings being unicode by default and won't operate with byte strin

[2020-12-13 09:35] boleanly commented on #53
Ok, I got it working on Kodi 19 Beta 2 if you want to test it. At my fork and this branch (https://github.com/boleanly/aznhusband.github.io/tree/kodi19)

If it's all good then I can also do a pull request

[2020-12-13 15:29] PtahX commented on #53
Awesome & thank you!  I'll give it a test run today and check it out. Very cool - that was no small task even with 2 to 3 I have been playing around with it as well but couldn't get it working.

[2020-12-13 16:42] PtahX commented on #53
so far the only issue I am seeing is a dependency error on the script.module.resuleurl version 5.1.0 with jsergio123 repo installed from ICDrama

` <import addon="script.module.resolveurl" version="5.0.38"/>` is still showing in the addons.xml

I think ICDrama is still pointing to jsergios directory -  gujaj has taken over last I heard. It might be easier to include the gujal dir with it to always

[2020-12-16 00:09] xalagaco commented on #47
Hey, aznhusband, would you be able to revisit this issue at some point? Or perhaps guide me to where I should look.
More and more episodes list 1080p now and I can hardly get through a few episodes before encountering this.
I then switch to a different show for a few episodes and get stuck again.
It's getting really annoying, and I'm constantly nagged by family now.

[2020-12-29 10:50] bdeman commented on #47
Maybe i'm able to help, my partner sees this error all too often nowadays trough Kodi; are there some steps you'd like to test trough me?

[2020-12-29 18:34] boleanly commented on #53
Oh yeah, I forgot to mention I didn't mess with the repo. I just zipped the plugin up and sideloaded it.

New issue though is that a Python 2 plugin doesn't show up in Kodi 19 and vice versa. That means if we want to support both Kodi 18- and Kodi 19+, we'll need to have two plugins in the repo with the minimum difference being the python dependency entry in the addon.xml requiring 2+ or 3+.

And

[2020-12-30 02:11] fehmi1907 commented on #53
@boleanly thanks for your work - it's great to know that the add-on is finally working on Matrix!

Scrubbed below. I had accidentally downloaded the master.

~~I have downloaded the folder https://github.com/boleanly/aznhusband.github.io/tree/kodi19/src/plugin.video.icdrama and when I try to install the ZIP, Matrix nags about Python compatibility. I believe this is related to addon.xml which says

[2020-12-30 02:27] boleanly commented on #53
@fehmi1907 The addon.xml in the plugin src/ folder should be correct.

The fork doesn't have a github page so the repo & add-on are not hosted. Installing from the repo seems to be the only way to also install updated versions of dependencies automatically. So if you're sideloading, you'll probably need to sideload the latest ResolveUrl too here: https://github.com/Gujal00/smrzips/tree/master/zips

[2020-12-30 02:30] fehmi1907 commented on #53
~~@boleanly could you please double-check that? I see the following in addon.xml~~

`    <import addon="xbmc.python" version="2.1.0"/>`

Will do - thanks for the heads up!

[2020-12-30 02:31] boleanly commented on #53
@fehmi1907 In this file? https://github.com/boleanly/aznhusband.github.io/blob/kodi19/src/plugin.video.icdrama/addon.xml

[2020-12-30 02:49] fehmi1907 commented on #53
@boleanly I had accidentally downloaded a ZIP of the master - apologies for that! I have downloaded the Kodi19 branch and will try it out shortly.

[2021-02-02 04:39] tofufi opened #54 "Icdrama not work"
I used Kodi to see icdrama but just down, any one help here???? Thx

[2021-02-02 12:46] tofufi commented on #54
Sorry, fault alarm. my other device work fine, let me double check

Thx

[2021-02-02 18:53] boleanly commented on #54
I think the website was having issues yesterday. Website issues are unrelated to the addon

Edit: Website/server issues can't be fixed by the addon*

[2021-02-02 19:11] tofufi commented on #54
Thx for clarify

Sent from Yahoo Mail for iPhone

On Tuesday, February 2, 2021, 1:53 PM, boleanly <notifications@github.com> wrote:

I think the website was having issues yesterday. Website issues are unrelated to the addon

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-02-20 03:57] xalagaco commented on #54
Please close ticket you created.

[2021-02-21 12:44] o6uoq opened #56 "Kodi v19.0 breaks ICDrama on Kodi Shield TV"
Google Play Store, which NVidia Shield TV uses to download apps, has updated Kodi to `v19.0` since **20th Feb 2021**

I'm not sure which part of the change/release log has impacted `v19.0`, but the repo install etc no longer works and ICDrama and other options/channels are no longer available.

- https://kodi.wiki/view/Releases
- https://kodi.wiki/view/Kodi_v19_(Matrix)_changelog

ETA for fix?

[2021-02-21 23:35] boleanly commented on #56
Nothing official yet, but see #55 and #53 if you want something compatible to sideload it on Kodi 19

[2021-02-24 15:43] senpaiz477 commented on #47
Has the issue been fixed or a workaround found? Cause I’ve been having this issue on multiple different platforms (amazon stick and android Tv) it seems to happen more when I finish a couple of videos, and end up popping up with that message.

[2021-02-26 17:35] #54 closed, assigned to nobody

[2021-02-26 17:35] tofufi commented on #54
fault alarm

[2021-02-27 11:54] yahgoo opened #57 "Icdrama error on first click or second click"
I have to set primary DNS to 8.8.8.8 and secondary DNS to 1.1.1.1 in order for icdrama to work. Sometimes, first click on say White War episode 28 will not work. I have to click a few times in order for icdrama to play.

How come cloudflare DNS that used to work with icdrama cannot be used now?

[2021-03-21 13:59] CLFNole opened #58 "BeautifulSoup4 updated crashes ICDrama"
Just noticed that the Kodi 18 (not 19) update to BeautifulSoup4 causes ICDrama to stop working. Just wanted to let you know.

[2021-03-21 18:28] boniface88 commented on #58
I have a similar problem with Kodi 18.8. Some updates by Kodi library crashes Icdrama (not sure which one). Now icdrama doesn’t work for me.

[2021-03-21 19:41] jcheong-1 commented on #58
Same for me on Kodi 18, I wonder if someone on Kodi 19 can chime in to see if there's any issues for them.

[2021-03-21 20:34] jcheong-1 commented on #58
Further to my last comment, I took the plunge to upgrade to Kodi 19, icdrama addon is not yet compatible with Kodi 19 at this point, along with most of my other addons.

[2021-03-22 01:59] boleanly commented on #58
It seems like the new version of BeautifulSoup 4 In the Kodi 18 repo isn't compatible with the version of Soupsieve in the same repo. BS4 throws an error saying Soupsieve isn't installed even though a version of it is. Kodi 19's BS4 and Soupsieve aren't affected though.

You can use Soraxis's branch for a Kodi 19 compatible version here at #55

[2021-03-22 02:11] nahcyrag commented on #58
i dont know what got updated and causing ICdrama not to work. I deleted everything including Kodi or you can do clear data and reinstall ICdrama disable auto-update on this addon and everything work again. I also disabled auto-update on Beautifulsoup and Soupsieve.

[2021-03-22 16:57] boniface88 commented on #58
Yes, I deleted Beautifulsoup and Soupsieve, along with icdrama, then reinstalled icdrama.  Now icdrama is working again.  Yes, make sure you turn off the auto-update on those dependencies.  Thank you for your solution!

[2021-04-19 16:59] cdkao commented on #58
I hope Asianhusband can do the soup update soon because my wife is not happy that it's been down for this long.  No hanky panky for me.

[2021-04-19 18:55] nahcyrag commented on #58
just uninstall 19 and sideload 18 again. follow then follow my instruction above and you will be back on icdrama at no time. It has been working for my wife.

[2021-04-19 23:12] cdkao commented on #58
Thanks!  I hope this addon didn't die as we don't hear back from this dev anymore.

[2021-04-20 00:29] xalagaco commented on #58
Icdrama stopped working even on 18.9 for a few days now. It's broken everywhere, I'm starting to lose hope.

[2021-04-20 16:15] cdkao commented on #58
Read above for the temporary fix. Goodluck!

[2021-05-07 21:49] paullew-iag opened #59 "Invalid XML at https://aznhusband.github.io/addons.xml"
There are 2 XML declarations on https://aznhusband.github.io/addons.xml , which causes an XML parsing error.

![image](https://user-images.githubusercontent.com/47957284/117511649-6c9a2880-afd1-11eb-9c27-b5dab6651f72.png)

This means when I'm browsing for addons in the aznhusband-kodi-repo , nothing shows up.

![image](https://user-images.githubusercontent.com/47957284/117511713-92273200-afd1-11eb

[2021-05-25 15:45] o6uoq commented on #53
@fehmi1907 did this work for you?

[2021-05-25 17:51] fehmi1907 commented on #53
@o6uoq yes, my wife has been happily using this on Matrix for months :)

[2021-09-01 04:40] ameizeing commented on #53
@fehmi1907
I'm trying to get icdrama plug in which works on Kodi 19. I'm new to github. Can you pls point the way to which of @boleanly zip file to download? I downloaded "plugin.video.icdrama-boleanly.zip" but get xbmc.python 2.1.0 dependency not met error

[2021-09-01 04:50] boleanly commented on #53
Hi @ameizeing , you should check out soraxas's versions in #55

[2021-09-01 06:49] ameizeing commented on #53
@boleanly Thanks much for the lead! Have installed soraxa's latest release & so happy that it works on Kodi 19 😊

[2021-11-23 03:45] Jerry-Dragon opened #60 "ICDrama Addon Getting "URL Resolver: You reached your daily limit" and Picasaweb links are missing"
Hello,
ICDrama Addon Getting  "URL Resolver: You reached your daily limit" and Picasaweb links are missing

Seen this on multiple Kodi boxes. Been happening for past 3 days.

Any solutions?

T'anks in Advance

[2021-11-24 07:05] tvbviewer commented on #60
Hi all - same problem as above.  Based in the US and trying to watch on Firestick (Kodi).  Any insight to get this fixed is greatly appreciated!  Thank you.

[2021-11-25 20:35] TseClifford opened #61 "HTTP Live stream error"
There seems to be an issue when trying to play from an HLS source. The link plays fine through a browser but throws an error on Kodi.

ERROR : ResolveURL: AttributeError Error - From: Icdrama Link: http://icdrama.to/vidembed.cYl_9XLclxXNhR9lksfVlw.html: 'bool' object has no attribute 'startswith'
ERROR : EXCEPTION Thrown (PythonToCppException) : -->Python callback/script returned the following err

[2021-11-26 05:47] CloudRealm commented on #61
Same Issue, here. I am using soraxas's version of the addon linked here:https://github.com/soraxas/aznhusband.github.io/releases/tag/15fe433 on Kodi 19.1

ERROR <general>: ResolveURL: AttributeError Error - From: Icdrama Link: http://icdrama.to/vidembed.MZZZBNqo67D1ZI6tJYQPCwTF1Sfpw_00t28RCMtSAOw.html: 'bool' object has no attribute 'startswith'

 ERROR <general>: EXCEPTION Thrown (PythonToCppExce

[2021-11-29 02:01] eichstam commented on #61
Ran into the same issue

[code]

[2021-12-05 09:40] chio0hai commented on #61
This patch works for me.

[plugin.video.icdrama.patch.txt](https://github.com/aznhusband/aznhusband.github.io/files/7655593/plugin.video.icdrama.patch.txt)

[2021-12-06 17:48] FACUser commented on #61
Thanks chio0hai. This patch also works for me.

[2021-12-06 18:02] zeus820 commented on #61
how do you apply this patch on a fire tv stick?
Sincerely,
Aaron

On Mon, Dec 6, 2021 at 12:48 PM FACUser ***@***.***> wrote:

[2021-12-06 21:35] TseClifford commented on #61
Thanks, works on my end as well.
I made a pull request to merge the fix.

[2021-12-15 22:39] Skyjack888 commented on #61
This patch works for me too.  I was able to SSH to my Firetv and edit the hdplay.py file in ./plugin.video.icdrama/lib/resolvers/
**DELETE this line**
match = re.search(r'var\svideo_url\s=\s"(.+?)";', html)
 **REPLACE with this one**
match = re.search(r'var\svideo_url\s?=\s?"(.+?)";', html)

[2021-12-16 02:30] zeus820 commented on #61
Thanks that fixed it.

On Wed, Dec 15, 2021 at 5:39 PM Skyjack888 ***@***.***> wrote:

--
Sincerely,
Aaron

[2021-12-17 03:32] nahcyrag commented on #61
any step by step on how to update this on kodi? thanks

[2021-12-18 02:57] Skyjack888 commented on #61
SSH to your Firetv from a computer and edit the hdplay.py file in ./plugin.video.icdrama/lib/resolvers/
 *DELETE this line*
 match = re.search(r'var\svideo_url\s=\s"(.+?)";', html)
 *REPLACE with this one*
 match = re.search(r'var\svideo_url\s?=\s?"(.+?)";', html)

[2021-12-19 12:29] carn1x commented on #61
Should it be possible to perform this edit without root? Or would any shell/sshd server/etc need to be running as root in order to access/modify kodi files?

[2021-12-19 20:41] thedragon007 commented on #60
Hi will there be an update to version 2.2.3 since the current version is not working.

[2021-12-19 22:07] xalagaco commented on #60
I see no reason pursue this anymore. Since the main website dropped picasaweb links, there's nothing much the add-on can do. None of the other links ever really worked even before. Just move on to dramacool and cross your fingers.

[2021-12-26 07:23] PoW888 commented on #61
If it helps, I was able to edit the file using adbfire and following the video here
https://www.google.com/search?q=adbFire&rlz=1C1CHBF_enUS806US806&sourceid=chrome&ie=UTF-8#kpvalbx=_8RPIYZXeNKigptQPpYK4WA58

[2022-04-05 15:10] lmh6 opened #64 "is this still alive? i have an issue"
i tried to add the repo, its is empty

[2022-04-06 17:55] xalagaco commented on #48
This add-on is pointless at this point. Closing. . .

[2022-04-06 17:55] #48 closed

[2022-05-14 12:36] ameizeing opened #65 "ResolveURL update to v5.1.67 broke icdrama addon"

[2022-05-14 12:40] #65 closed, assigned to nobody

[2022-05-17 03:36] tk202111 commented on #61
HTTP live stream fail again in Kodi 19.3

[2022-05-22 14:50] YanCakes opened #66 "Icdrama down with and Error to view log"
My ICdrama haven't been working for a few weeks now, it says there's and error to check the log and the error code is
Error <general>: EXCEPTION thrown (pythonToCppException):-->Python callback/script returned the following error <--- NOTE: IGNORING THIS CAN LEAD TO MEMORY LEAKS!
Error Type: <class 'ModuleNotFoundError'>
Error Contents: No Module named resolveurl.plugins.lib' Traceback (most recen